body{
    background-color: #e5e5e5;
}
div.firstwrapp{
    width: 100%;
    height: 100%;
    border: 5px black;
}
div.shortintro{
    float: left;
    border-radius: 10px;
    border: 4px groove;
    background-color:#f4f4f4;
    padding: 30px 30px 30px 30px;
    margin-top: 100px;
    margin-left: 7%;
    margin-bottom: 20px;
}
div.shortintro h1{
    text-align: center;
}
div.shortintro p{
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 21px;
}
@media all and (max-width: 800px) and (min-width: 300px) {
	div.shortintro{
        width: 30%;
		}
}
@media all and (max-width: 600px) and (min-width: 300px) {
	div.shortintro{
        width: 75%;
        margin-left: 35px;
		}
}
@media all and (max-width: 400px) and (min-width: 300px) {
	div.shortintro{
        width: 70%;
		}
    div.exercise{
        margin-right: 10px;
    }
}
h1.introhtml{
    text-align: center;
    padding-top: 30px;
}
div.exercise {
    float: left;
    width: auto;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-left: 30px;
}
div.exercise img{
    width: 190px;
    height: 100px;
}
div.exercise:hover img{
    opacity: 0.3;
}
div.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
div.exercise:hover .middle{
    opacity: 1;
}
div.middle a{
    background-color: #3a8fff;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    text-decoration: none;
}