@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    margin: 0;
}

body{
    background-color: #eeeeee;
    font-size: 18px;
    font-family: 'Comfortaa', 'cursive' !important;
}

/*mobile nav bar*/

header span{
    position:fixed;
    font-size:30px;
    cursor:pointer;
    color: rgb(236, 154, 0);
    top: 3px;
    left: 5%;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: 0 10px;
    z-index: 1;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


/*tablet screen size*/
@media screen and (min-width : 768px) {
    .overlay{
      display: none;
    }

    header span{
      display: none;
    }
  }
/*end of tablet screen size*/
/*end mobile nav bar*/

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 5%;
}

.introduction{
    border-radius: 10px;
    border: 1px groove #bda4a4;
    background-color:#fcfcfc;
    padding: 30px 20px 30px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.introduction h1{
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    color: #e29300;
}

.introduction p{
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
}

.bannerimg{
    display: none;
}

h2{
    text-decoration: overline underline rgba(247, 49, 0, 0.993);
    text-align: center;
    color: rgb(0, 125, 209);
}

.formargin{
    margin-left: 5%;
    margin-right: 5%;
}

.flexexercise{
    display: block;
}

.exercise{
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    width: 100%;
}

.exercise img{
    position: relative;
    width: 100%;
    height: auto;
}

.exercise:hover img{
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    position: absolute;
    top: 70%;
    width: 100%;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

.exercise:hover .middle{
    opacity: 1;
}

.middle a{
    display: inline-block;
    background-color: #3a8fff;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    text-decoration: none;
}

footer{
    background-color: rgb(34, 34, 34);
    padding: 30px 30px 30px 30px;
    color: #f4f4f4;
    margin-top: 30px;
}

footer ul{
    list-style: none;
}

/* tablet screen size */

@media screen and (min-width : 768px) {

    .flex{
        z-index: 1;
        margin: 0 15% 0% 10%;
    }

    .introduction p{
        text-align: left;
    }

    .bannerimg{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        border-bottom-color: rgba(139, 139, 139, 0.527);
    }

    .banner{
        width: 100%;
    }
    
    .flexexercises{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .formargin{
        margin-left: 10%;
    }

    .exercise{
        width: 30%;
        margin-right: 15px;
    }

    .middle{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: auto;
    }

}

/*end of tablet screen size */