@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    margin: 0;
}

body{
    background-color: #eeeeee;
    font-size: 18px;
    font-family: 'Comfortaa', 'cursive';
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 5%;
}

.introduction{
    border-radius: 10px;
    border: 1px groove #bda4a4;
    background-color:#fcfcfc;
    padding: 30px 20px 30px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.introduction h1{
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    color: #e29300;
}

.introduction p{
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
}

.bannerimg{
    display: none;
}

h2{
    text-decoration: overline underline rgba(247, 49, 0, 0.993);
    text-align: center;
    color: rgb(0, 125, 209);
}

.formargin{
    margin-left: 5%;
    margin-right: 5%;
}

.flexexercise{
    display: block;
}

.exercise{
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    width: 100%;
}

.exercise img{
    position: relative;
    width: 100%;
    height: auto;
}

.exercise:hover img{
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    position: absolute;
    top: 70%;
    width: 100%;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

.exercise:hover .middle{
    opacity: 1;
}

.middle a{
    display: inline-block;
    background-color: #3a8fff;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    text-decoration: none;
}

footer{
    background-color: rgb(34, 34, 34);
    padding: 30px 30px 30px 30px;
    color: #f4f4f4;
    margin-top: 30px;
}

footer ul{
    list-style: none;
}

/* tablet screen size */

@media screen and (min-width : 768px) {

    .flex{
        z-index: 1;
    }

    .bannerimg{
        display: block;
        width: 100%;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        border-bottom-color: rgba(139, 139, 139, 0.527);
    }

    .banner{
        width: 80%;
    }
    
    .flexexercises{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .formargin{
        margin-left: 10%;
    }

    .exercise{
        width: 30%;
        margin-right: 15px;
    }

    .middle{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: auto;
    }

}

/*end of tablet screen size */